<% if @kitten_name %>
  <h1> My name is <%=@kitten_name%> and my owner is  <%=@owner_name%> </h1>
<% end %>

'<img src="http://bit.ly/1eze8aE" style="border: dashed red;">'

<form action="/named-cat" method="post">
  <input type="text" name="kitten_name">
  <br>
  <input type="text" name="owner_name">
  <input type="submit" name="Submit">
</form>